NET "clock"         LOC = "B8";      # Bank = 0, Pin name = IP_L13P_0/GCLK8, Type = GCLK,                  Sch name = GCLK0

## 7 segment display
NET "segment_on_n<0>"      LOC = "L18";     # Bank = 1, Pin name = IO_L10P_1, Type = I/O,                         Sch name = CA
NET "segment_on_n<1>"      LOC = "F18";     # Bank = 1, Pin name = IO_L19P_1, Type = I/O,                         Sch name = CB
NET "segment_on_n<2>"      LOC = "D17";     # Bank = 1, Pin name = IO_L23P_1/HDC, Type = DUAL,                    Sch name = CC
NET "segment_on_n<3>"      LOC = "D16";     # Bank = 1, Pin name = IO_L23N_1/LDC0, Type = DUAL,                   Sch name = CD
NET "segment_on_n<4>"      LOC = "G14";     # Bank = 1, Pin name = IO_L20P_1, Type = I/O,                         Sch name = CE
NET "segment_on_n<5>"      LOC = "J17";     # Bank = 1, Pin name = IO_L13P_1/A6/RHCLK4/IRDY1, Type = RHCLK/DUAL,  Sch name = CF
NET "segment_on_n<6>"      LOC = "H14";     # Bank = 1, Pin name = IO_L17P_1, Type = I/O,                         Sch name = CG
NET "dot_on_n"          LOC = "C17";     # Bank = 1, Pin name = IO_L24N_1/LDC2, Type = DUAL,                   Sch name = DP
NET "display_on_n<0>"       LOC = "F17";     # Bank = 1, Pin name = IO_L19N_1, Type = I/O,                         Sch name = AN0
NET "display_on_n<1>"       LOC = "H17";     # Bank = 1, Pin name = IO_L16N_1/A0, Type = DUAL,                     Sch name = AN1
NET "display_on_n<2>"       LOC = "C18";     # Bank = 1, Pin name = IO_L24P_1/LDC1, Type = DUAL,                   Sch name = AN2
NET "display_on_n<3>"       LOC = "F15";     # Bank = 1, Pin name = IO_L21P_1, Type = I/O,                         Sch name = AN3

## Leds
NET "busy"      LOC = "J14";     # Bank = 1, Pin name = IO_L14N_1/A3/RHCLK7, Type = RHCLK/DUAL,        Sch name = JD10/LD0

## Switches
NET "data_in<0>"       LOC = "G18";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = SW0
NET "data_in<1>"       LOC = "H18";     # Bank = 1, Pin name = IP/VREF_1, Type = VREF,                        Sch name = SW1
NET "data_in<2>"       LOC = "K18";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = SW2
NET "data_in<3>"       LOC = "K17";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = SW3
NET "data_in<4>"       LOC = "L14";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = SW4
NET "data_in<5>"       LOC = "L13";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = SW5
NET "data_in<6>"       LOC = "N17";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = SW6
NET "data_in<7>"       LOC = "R17";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = SW7

## Buttons
NET "reset"      LOC = "B18";     # Bank = 1, Pin name = IP, Type = INPUT,                              Sch name = BTN0
NET "load_data"      LOC = "D18";     # Bank = 1, Pin name = IP/VREF_1, Type = VREF,                        Sch name = BTN1

##JB
NET "ss_n"       LOC = "M13";     # Bank = 1, Pin name = IO_L05N_1/VREF_1, Type = VREF,                 Sch name = JB1
NET "ss_n" 		CLOCK_DEDICATED_ROUTE = FALSE;
NET "sck"       LOC = "R18";     # Bank = 1, Pin name = IO_L02P_1/A14, Type = DUAL,                    Sch name = JB2
NET "sck" 		CLOCK_DEDICATED_ROUTE = FALSE;
NET "sdo"       LOC = "R15";     # Bank = 1, Pin name = IO_L03P_1, Type = I/O,                         Sch name = JB3
NET "sdi"       LOC = "T17";     # Bank = 1, Pin name = IO_L01N_1/A15, Type = DUAL,                    Sch name = JB4
